<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <style>
  .jumbotron {
    padding: 100px;
  }
  </style>
</head>
<body>
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <p>please login!!!</p>
    <p><a class="btn btn-primary btn-lg" href="/login" role="button">login</a></p>
  </div>
</body>
</html>