<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <style>
  form {padding: 100px;}
  </style>
</head>
<body>
  <form action="/signin" method="post">
    <p>email: <input name="email" value="admin@example.com"></p>
    <p>Password: <input name="password" type="password"></p>
    <p><input type="submit" value="Submit"></p>
  </form>
</body>
</html>