<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>管理员登陆</title>
</head>
<body>
  <div class="login_dialog">
    <form action="/admin/login" method="post">
      <div>
        <label for="username">用户：</label>
        <input type="text" name="username">
      </div>
      <div>
        <label for="password">密码：</label>
        <input type="text" name="password">
      </div>
      <input type="submit" value="登陆">
    </form>
  </div>
</body>
</html>